/* Reset */

a {
    text-decoration: none;
    color: unset;
}

body {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

/* Global */

:root {
    /* Variables des couleurs */
}

@font-face {
    font-family: 'Druk';
    src:  url('assets/Druk-Bold-Cy-Gr-subset.woff2') format('woff2');
  }

::selection {
    background: rgb(91, 186, 213);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(243, 244, 245);
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


/* Général */

.team-number {
    display: flex;
    border: 1px solid rgb(43, 43, 43);
    color: rgb(243, 244, 245);
    border-radius: 16px;
    padding: 0 8px;
    font-weight: 700;
    font-size: .75rem;
    align-items: center;
}


/* En-tête */

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(43, 43, 43);
    margin: 0 4vw;
    margin-top: 32px;
}

.header-infos {
    display: flex;
    text-transform: uppercase;
    gap: 16px;
    align-items: center;
}

.header-logo {
    height: 64px;
}

.header-subtitle {
    font-size: .875rem;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
    .header-subtitle {
        font-size: .75rem;
    }
}

.header-title {
    font-family: Druk, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.5rem;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .header-title {
        font-size: 1.5rem;
    }
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-link a {
    display: flex;
    gap: 4px;
    border-radius: 4px;
    background-color: rgb(26, 26, 26);
    padding: 16px;
}

.header-link a:hover {
    background-color: rgb(243, 244, 245);
    color: rgb(0, 0, 0);
    transition: 0.25s;
}

.header-link a svg {
    width: 16px;
    stroke-width: 1.5;
    stroke:rgb(243, 244, 245);
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.header-link a:hover svg {
    stroke:rgb(0, 0, 0);
    transition: 0.25s;
}

@media screen and (max-width: 800px) {
    .link-text {
        display: none;
    }
}


/* Rencontres */

.main-fixtures {
    margin: 0 4vw;
    margin-top: 32px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    font-weight: 500;
}

.fixtures-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .fixtures-header {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }
}

.fixtures-title {
    font-size: 1.375rem;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.fixtures-selection {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .fixtures-selection {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }
}


.fixtures-selection select {
    border: 1px solid rgb(43, 43, 43);
    border-radius: 4px;
    background-color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    color: rgb(243, 244, 245);
    font-weight: 500;
    font-size: 1rem;
    appearance: none;
    cursor: pointer;
    padding: 16px 16px;
    position: relative;
    left: 12px;
}

@media screen and (max-width: 600px) {
    .fixtures-selection select {
        width: 100%;
        position: unset;
    }
}

.fixtures-selection select:focus {
    outline: unset;
    border-color: rgb(91, 186, 213);
}

.fixtures-selection .downarrow {
    stroke: rgb(243, 244, 245);
    stroke-width: 2px;
    height: 7px;
    width: 12px;
    position: relative;
    right: 16px;
}

@media screen and (max-width: 600px) {
    .fixtures-selection .downarrow {
        right: unset;
        bottom: 30px;
        right: 16px;
    }
}

.fixtures {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

@media screen and (max-width: 1200px) {
    .fixtures {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .fixtures {
        grid-template-columns: repeat(1, 1fr);
    }
}

.fixture {
    background-color: rgb(43, 43, 43);;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    border: 1px solid transparent;
    min-width: 0;
}

.fixture:hover {
    border: 1px solid rgb(243, 244, 245);
    transition: 0.25s;
}

.fixture-teams{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px;
    min-width: 0;
    flex-grow: 1;
}

.fixture-team {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: 8px;
}

.fixture-team .team-number {
    border-color: rgb(184, 184, 184);
}

.fixture-team-name {
    display: flex;
    gap: 4px;
    min-width: 0;
}

.fixture-team-club {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fixture-result {
    font-weight: 700;
}

.fixture-result-team-selected {
    color:rgb(91, 186, 213)
}

.fixture-date {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    border-left: 1px solid rgb(26, 26, 26);
    padding: 0 16px;
}

.fixture-day {
    font-weight: 700;
}


/* À trier */

.title {
    font-size: 1.375rem;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.ranking-header {
    margin: 0 4vw;
    margin-top: 32px;
}

.ranking {
    padding: 0;
    margin: 0 4vw;
}

.table-head {
    margin-top: 32px;
    padding: 0;
    font-weight: 700;
    padding-bottom: 8px;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 40px 40px 40px 40px 60px 40px 30px;
}

@media screen and (max-width: 600px) {
    .table-head {
        grid-template-columns: 1fr 40px 60px 40px;
    }
}

.pool-name {
    text-align: left;
    font-size: .875rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

.team-container {
    list-style-type: none;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    border-radius: 4px;
    text-align: right;
}

.team {
    color: rgb(243, 244, 245);;
    text-decoration: none;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 20px 30px 1fr 40px 40px 40px 40px 60px 40px 30px;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .team {
        grid-template-columns: 20px 30px 1fr 40px 60px 40px;
    }
}

.team-container:not(:nth-child(2)) a {
    border-top: 1px solid rgb(43, 43, 43);
}

.team-container:hover {
    background-color: rgb(26, 26, 26);
    transition: 0.25s;
}

.rank {
    font-weight: 700;
}

.team-icon {
    display: flex;
    justify-content: center;
}

.selected-team-icon {
    stroke: rgb(91, 186, 213);
}

.team-name {
    display: flex;
    min-width: 0;
    gap: 4px;
}

.team-club {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.points {
    font-weight: 700;
}

.ffbb-link {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.ffbb-link a {
    display: flex;
    align-items: center;
}

.ffbb-link svg {
    width: 16px;
    height: 16px;
    stroke-width: 1.5;
    stroke: rgb(184, 184, 184);
}

.stats-header {
    margin: 0 4vw;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 800px) {
    .stats-header  {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}

.mode-select {
    display: flex;
    gap: 16px;
}

@media (max-width: 800px) {
    .mode-select  {
        width: 100%;
    }
}

.button {
    border: 1px solid rgb(43, 43, 43);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 16px 16px;
    width: 160px;
}

@media (max-width: 800px) {
    .button  {
        flex-grow: 1;
    }
}

.button:has(input:checked) {
    border-color: rgb(91, 186, 213);
}

.button:hover {
    border-color: rgb(243, 244, 245);
    transition: 0.25s;
}

.button:hover:has(input:checked) {
    border-color: rgb(243, 244, 245);
    transition: 0.25s;
}


.button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    height: 16px;
    width: 16px;
    border: rgb(243, 244, 245) solid 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark svg {
    display: none;
    width: 10px;
    height: 8px;
    fill: rgb(26, 26, 26);
}

.button input:checked ~ .checkmark {
    height: 16px;
    width: 16px;
    background-color: rgb(243, 244, 245);
}

.button input:checked ~ .checkmark svg {
    display: unset;
}

.stats {
    display: flex;
    gap: 32px;
    margin: 0 4vw;
    margin-top: 32px;
}

@media (max-width: 800px) {
    .stats {
        flex-direction: column;
    }
}

.chart {
    border-radius: 4px;
    border: solid 1px rgb(43, 43, 43);
    padding: 8px 16px;
    height: 400px;
    flex-grow: 1;
    min-width: 43%;
}

@media screen and (max-width: 800px) {
    .chart {
        height: 200px;
    }
}


.footer {
    margin-top: 32px;
    padding: 32px 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(26, 26, 26);
    gap: 16px;
}

.footer img {
    width: 32px;
    margin-right: 8px;
}

.footer div, .footer a {
    color: rgb(184, 184, 184);
    font-weight: 400;
    font-size: .875rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.footer a:hover {
    color: rgb(91, 186, 213);
}

.copyright {
    display: flex;
    align-items: center;
    min-width: 0;
}

.copyright div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.links {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
}