@font-face {
    font-family: 'Druk';
    src:  url('assets/Druk-Bold-Cy-Gr-subset.woff2') format('woff2');
  }

  ::selection {
    background: rgb(91, 186, 213);
  }

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(243, 244, 245);
    font-weight: 500;
    background-color: rgb(0, 0, 0);
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    border-bottom: 1px solid rgb(43, 43, 43);
    margin: 0;
    margin-top: 32px;
}

.icon {
    width: 64px;
    margin-right: 16px;
    margin-left: 4vw;
}

.league_name {
    font-family: Druk, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.5rem;
    line-height: 1.4em;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .league_name {
        font-size: 1.5rem;
    }
}

.committee_name {
    text-transform: uppercase;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.title {
    font-size: 1.375rem;
    line-height: 1.4em;
    margin: 0 4vw;
    margin-top: 32px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.ranking {
    padding: 0;
    margin: 0 4vw;
}

.table_head {
    margin-top: 32px;
    padding: 0;
    font-weight: 700;
    padding-bottom: 8px;
    text-align: right;
    display: grid;
    grid-template-columns: 1fr 40px 40px 40px 40px 60px 40px;
}

@media screen and (max-width: 600px) {
    .table_head {
        grid-template-columns: 1fr 40px 60px 40px;
    }
}

.pool_name {
    text-align: left;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

.team {
    list-style-type: none;
    font-size: 1rem;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    border-radius: 4px;
    text-align: right;
}

.team a {
    color: rgb(243, 244, 245);;
    text-decoration: none;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 20px 30px 1fr 40px 40px 40px 40px 60px 40px;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .team a {
        grid-template-columns: 20px 30px 1fr 40px 60px 40px;
    }
}


.team:not(:nth-child(2)) a {
    border-top: 1px solid rgb(43, 43, 43);
}

.team:hover {
    background-color: rgb(26, 26, 26);
    transition: 0.25s;
}

.rank {
    font-weight: 700;
}

.team_icon {
    width: 8px;
    margin-left: auto;
    margin-right: auto;
}

.team_name {
    display: flex;
    min-width: 0;
}

.team_club {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.team_number {
    display: flex;
    background-color: rgb(184, 184, 184);
    color: rgb(0, 0, 0);
    border-radius: 16px;
    padding: 0 8px;
    font-weight: 700;
    margin-left: 4px;
    font-size: .75rem;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.points {
    font-weight: 700;
}

.stats {
    display: flex;
    margin: 0 4vw;
    margin-top: 32px;
    overflow: hidden;
    gap: 32px
}

@media (max-width: 800px) {
    .stats {
        flex-direction: column;
    }
}

.chart {
    flex-grow: 1;
    min-width: 46%;
    border-radius: 4px;
    border: solid 1px rgb(43, 43, 43);
    padding: 8px 16px;
}


.footer {
    margin-top: 32px;
    padding: 32px 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(26, 26, 26);
    gap: 16px;
}

.footer img {
    width: 32px;
    margin-right: 8px;
}

.footer div, .footer a {
    color: rgb(184, 184, 184);
    font-weight: 400;
    line-height: 1.4em;
    font-size: .875rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.footer a:hover {
    color: rgb(91, 186, 213);
}

.copyright {
    display: flex;
    align-items: center;
    min-width: 0;
}

.copyright div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.links {
    list-style-type: none;
    margin: 0;
    display: flex;
    gap: 16px;
}

.links a {
    text-decoration: none;
}

body {
    margin: 0;
}

@media screen and (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
}
